/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.active {
  color: #ef1e1e !important;
  border-bottom: 3px solid #ef1e1e !important;
}

.container {
  width: 100%;
  padding: 0 3.125rem;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titel {
  text-align: center;
}

.titel .t1 {
  font-size: 1.5rem;
  color: #253237;
  margin-bottom: 0.5rem;
}

.titel .t3 {
  font-size: 0.875rem;
  color: #666666;
}

.titel hr {
  width: 50px;
  margin: 2rem auto;
  border: 1px solid #ef1e1e;
}

.tag {
  font-size: 0.75rem;
  color: white;
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  background-color: #cf2829;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Topbar Styling Start */
.topbar {
  background-color: #253237;
  color: white;
  padding: 0.4rem 3.125rem;
  font-size: 0.875rem;
}

.topbar .icons a {
  color: white;
  margin-right: 0.6rem;
}

.topbar .auth > div a {
  color: white;
  text-decoration: none;
  margin-left: 0.35rem;
}

.topbar .auth .divider {
  padding: 0 1rem;
}

/* Topbar Styling End */
/* Top Nav Styling Start */
.top_nav {
  background-color: white;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e7dbdb;
}

.top_nav i {
  color: #253237;
}

.top_nav .hamburger {
  display: none;
}

.top_nav .contact_info i {
  margin-right: 0.8rem;
}

.top_nav .logo img {
  width: 160px;
  height: 40px;
}

.top_nav .right_side .search {
  position: relative;
  padding-right: 1rem;
}

.top_nav .right_side .search input {
  width: 250px;
  height: 40px;
  border-radius: 50px;
  outline: none;
  padding: 0 2.2rem;
  border: 2px solid #e7dbdb;
  background-color: #f6f5f5;
}

.top_nav .right_side .search i {
  position: absolute;
  left: 0.8rem;
  color: #666666;
}

.top_nav .right_side > i {
  margin: 0 1rem;
}

.top_nav .right_side .cart_btn {
  cursor: pointer;
}

.top_nav .right_side .cart_btn i {
  font-size: 1.8rem;
}

.top_nav .right_side .cart_btn .total_cart_items {
  background-color: #ef1e1e;
  border-radius: 100%;
  padding: 0.1rem 0.3rem;
  margin: 0.5rem 0 0 -0.5rem;
  color: white;
  font-size: 0.75rem;
  font-weight: bolder;
}

/* Top Nav Styling End */
/* Navbar Styling Start */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-text);
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  color: #ef1e1e;
}

.navbar .shop_dropdown {
  position: relative;
  display: inline-block;
}

.navbar .shop_dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  background-color: white;
  width: 200px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .shop_dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: normal;
}

.navbar .shop_dropdown .dropdown-content a:hover {
  background-color: #f6f5f5;
  color: #cf2829;
}

.navbar .shop_dropdown:hover .dropdown-content {
  display: block;
}

/* Navbar Styling End */
/* Hero Section Styling Start */
.hero {
  background: url("../Assets/hero-slider1.jpg") center/cover no-repeat;
  width: 100%;
  height: calc(100vh - 145px);
  -webkit-animation: slider 9s infinite linear;
          animation: slider 9s infinite linear;
}

.hero .slide_Content {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

.hero .slide_Content h1 {
  font-size: 3rem;
  font-weight: normal;
  color: #253237;
}

.hero .slide_Content h1:nth-child(2) {
  font-weight: bolder;
}

.hero .slide_Content p {
  margin: 1rem 0 2.5rem 0;
  font-size: 1.125rem;
}

.hero .slide_Content a {
  background-color: #ef1e1e;
  border: 2px solid #ef1e1e;
  border-radius: 50px;
  outline: none;
  padding: 0.6rem 1.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.hero .slide_Content a:hover {
  background-color: #253237;
  border: 2px solid #253237;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.hero .fixed_cart_btn {
  position: fixed;
  left: -150px;
  top: 50%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 5;
}

.hero .fixed_cart_btn p {
  background-color: #253237;
  border: 2px solid #253237;
  outline: none;
  padding: 0.4rem;
  color: white;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;
  font-size: 0.875rem;
}

.hero .fixed_cart_btn p:hover {
  background-color: #ef1e1e;
  border: 2px solid #ef1e1e;
}

@-webkit-keyframes slider {
  0% {
    background: url("../Assets/hero-slider1.jpg") center/cover no-repeat;
  }
  35% {
    background: url("../Assets/hero-slider2.jpg") center/cover no-repeat;
  }
  75% {
    background: url("../Assets/hero-slider3.jpg") center/cover no-repeat;
  }
}

@keyframes slider {
  0% {
    background: url("../Assets/hero-slider1.jpg") center/cover no-repeat;
  }
  35% {
    background: url("../Assets/hero-slider2.jpg") center/cover no-repeat;
  }
  75% {
    background: url("../Assets/hero-slider3.jpg") center/cover no-repeat;
  }
}

/* Hero Section Styling End */
/* Banner Panal 1 Styling Start */
.banner_panal_1 {
  margin: 3rem 0;
}

.banner_panal_1 .banner {
  margin: 0 1rem;
}

.banner_panal_1 .banner img {
  width: 100%;
}

/* Banner Panal 1 Styling End */
/* Banner Panal 2 Styling Start */
.banner_panal_2 img {
  width: 100%;
  height: 300px;
}

/* Banner Panal 2 Styling End */
/* Banner Panal 3 Styling Start */
.banner_panal_3 {
  margin: 5rem 0;
}

.banner_panal_3 .banner {
  margin: 0 1rem;
}

.banner_panal_3 .banner img {
  width: 100%;
}

/* Popular Category Styling Start */
.popular_category_container {
  padding: 5rem 0;
}

.popular_category_container .popular_category {
  position: relative;
}

.popular_category_container .popular_category:hover > button {
  display: block !important;
}

.popular_category_container .popular_category > button {
  display: none !important;
  background-color: white;
  border: 2px solid #e7dbdb;
  border-radius: 100%;
  padding: 1rem 1.2rem;
  text-align: center;
  outline: none;
  color: #666666;
  z-index: 1;
  position: absolute;
  top: 40%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.popular_category_container .popular_category > button:hover {
  background-color: #ef1e1e;
  color: white;
}

.popular_category_container .popular_category .category_prev_btn {
  left: 2.5%;
}

.popular_category_container .popular_category .category_next_btn {
  right: 2.5%;
}

.popular_category_container .popular_category .category_slider_container .category_card {
  margin: 0 1rem;
  outline: none;
}

.popular_category_container .popular_category .category_slider_container .category_card:hover .product_img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.popular_category_container .popular_category .category_slider_container .category_card .product_img {
  overflow: hidden;
  border: 1px solid #e7dbdb;
}

.popular_category_container .popular_category .category_slider_container .category_card .product_img img {
  width: 100%;
  height: 300px;
  margin: 1rem auto;
}

.popular_category_container .popular_category .category_slider_container .category_card .details h2 {
  font-size: 1.125rem;
  margin-top: 1rem;
  color: #253237;
}

.popular_category_container .popular_category .category_slider_container .category_card .details p {
  margin: 0.5rem 0;
  color: #666666;
}

.popular_category_container .popular_category .category_slider_container .category_card > a {
  text-decoration: none;
  color: #253237;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  outline: none;
}

.popular_category_container .popular_category .category_slider_container .category_card > a i {
  color: #ef1e1e;
}

.popular_category_container .popular_category .category_slider_container .category_card > a:hover {
  color: #cf2829;
  margin-left: 0.5rem;
}

/* Popular Category Styling End */
/*  New Arrivals Section Styling Start */
.new_arrival_container {
  padding: 5rem 0;
}

.new_arrival_container .new_arrivals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(210px, 210px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(210px, 210px));
  grid-column-gap: 1.2rem;
  grid-row-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2rem;
}

.new_arrival_container .new_arrivals .arrival_product_card {
  border: 1px solid #e7dbdb;
  width: 210px;
  overflow: hidden;
  border-radius: 5px;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_img {
  position: relative;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_img span {
  background-color: #ef1e1e;
  position: absolute;
  margin: 0.5rem;
  z-index: 1;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_img img {
  width: 100%;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_img button {
  position: absolute;
  -webkit-transform: translate(0%, 620%);
          transform: translate(0%, 620%);
  background-color: #ef1e1e;
  border: none;
  outline: none;
  color: white;
  font-size: 0.875rem;
  padding: 0.4rem;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  cursor: pointer;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_img button i {
  color: white;
  font-size: 0.875rem;
  padding-right: 0.5rem;
  pointer-events: none;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_img button:hover {
  background-color: #253237;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_details {
  text-align: center;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_details p {
  font-size: 0.75rem;
  color: #666666;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_details .stars {
  color: orange;
  margin-bottom: 0.2rem;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_details .arrival_product_price {
  margin-bottom: 1rem;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_details .arrival_product_price s {
  font-size: 0.875rem;
  color: #666666;
}

.new_arrival_container .new_arrivals .arrival_product_card .arrival_product_details .arrival_product_price p {
  color: #cf2829;
  margin: 0 0.6rem;
  font-size: 1.125rem;
}

.new_arrival_container .new_arrivals .arrival_product_card:hover {
  border-color: #ef1e1e;
}

.new_arrival_container .new_arrivals .arrival_product_card:hover .arrival_product_img img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.new_arrival_container .new_arrivals .arrival_product_card:hover .arrival_product_img button {
  -webkit-transform: translate(-100%, 620%);
          transform: translate(-100%, 620%);
}

/*  New Arrivals Section Styling End */
.services .service_detail {
  width: 350px;
  text-align: center;
  border: 2px solid black;
  padding: 2rem;
  margin: 0 1rem;
  border: 1px solid #e7dbdb;
  border-radius: 5px;
  color: #253237;
  outline: none;
  -webkit-transform: all 0.4s linear;
          transform: all 0.4s linear;
}

.services .service_detail h3 {
  margin: 1rem 0;
}

.services .service_detail i {
  color: #666666;
}

.services .service_detail:hover {
  border-color: #ef1e1e;
}

.services .service_detail:hover i {
  color: #ef1e1e;
}

/*  Hot Deals Page Styling End */
.hot_deals {
  border: 2px solid #253237;
  border-radius: 10px;
  width: 95%;
  margin: auto;
  padding: 7rem 0 3rem 0;
  position: relative;
}

.hot_deals .slick_btn {
  position: absolute;
  top: 50%;
}

.hot_deals .prev_btn {
  left: 2.8%;
}

.hot_deals .next_btn {
  right: 2.8%;
}

.hot_deals .timer {
  position: absolute;
  background-color: white;
  padding: 0.6rem 1.5rem;
  top: -9%;
  left: 5%;
}

.hot_deals .timer h2 {
  text-transform: uppercase;
}

.hot_deals .timer .timer_container {
  margin-left: 2rem;
  border-radius: 50px;
  background-color: #253237;
  padding: 0.6rem 1.5rem;
}

.hot_deals .timer .timer_container > div {
  text-align: center;
}

.hot_deals .timer .timer_container h2 {
  font-size: 1.125rem;
  color: white;
}

.hot_deals .timer .timer_container p {
  font-size: 0.75rem;
  color: #253237;
  text-transform: capitalize;
  color: white;
}

.hot_deals .timer .timer_container span {
  font-size: 1.5rem;
  margin: 0 0.8rem;
  color: white;
}

.hot_deals .slick_btn {
  display: none !important;
  border: 2px solid #f6f5f5;
  background-color: white;
  border-radius: 100%;
  padding: 1rem 1.2rem;
  text-align: center;
  outline: none;
  color: #253237;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 1;
}

.hot_deals .slick_btn:hover {
  background-color: #ef1e1e;
  color: white;
}

.hot_deals:hover .slick_btn {
  display: block !important;
}

.hot_deals .hot_deal_slider .hot_deal_cards {
  padding: 0 1rem;
  outline: none;
  overflow: hidden;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card {
  border: 2px solid #f6f5f5;
  border-radius: 5px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card .deal_card_img {
  position: relative;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card .deal_card_img span {
  position: absolute;
  padding: 0.4rem 0.8rem;
  border-radius: 0;
  top: 1%;
  left: 1%;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card .deal_card_img img {
  height: 300px;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card .deal_card_details {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #253237;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card .deal_card_details > p {
  color: #666666 !important;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 1rem 0 !important;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card .deal_card_details .stars {
  font-size: 1.5rem;
  color: orange;
  margin: 0.5rem 0;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card .deal_card_details .deal_item_price {
  margin-bottom: 1rem;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card .deal_card_details .deal_item_price s {
  font-size: 1.125rem;
  color: #666666;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card .deal_card_details .deal_item_price p {
  color: #cf2829;
  margin: 0 0.6rem;
  font-size: 1.5rem;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card:hover {
  border-color: #ef1e1e;
}

.hot_deals .hot_deal_slider .hot_deal_cards .deal_product_card:hover .deal_card_img img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

/*  Hot Deals Page Styling End */
/*  Products Page Styling Start */
.products_container {
  padding: 5rem 0;
}

.products_container .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(210px, 210px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(210px, 210px));
  grid-column-gap: 1.2rem;
  grid-row-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.products_container .products .product_card {
  border: 1px solid #e7dbdb;
  width: 210px;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
}

.products_container .products .product_card .product_img {
  position: relative;
}

.products_container .products .product_card .product_img span {
  background-color: #ef1e1e;
  position: absolute;
  margin: 0.5rem;
  z-index: 1;
}

.products_container .products .product_card .product_img img {
  width: 100%;
  height: 210px !important;
}

.products_container .products .product_card .product_img button {
  position: absolute;
  -webkit-transform: translate(0%, 630%);
          transform: translate(0%, 630%);
  background-color: #ef1e1e;
  border: none;
  outline: none;
  color: white;
  font-size: 0.875rem;
  padding: 0.4rem;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  cursor: pointer;
}

.products_container .products .product_card .product_img button i {
  color: white;
  font-size: 0.875rem;
  padding-right: 0.5rem;
  pointer-events: none;
}

.products_container .products .product_card .product_img button:hover {
  background-color: #253237;
}

.products_container .products .product_card .product_details p {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #666666;
  margin: 0.5rem 0;
}

.products_container .products .product_card .product_details .stars {
  color: orange;
  margin: 0.2rem;
}

.products_container .products .product_card .product_details .product_item_price {
  margin-bottom: 1rem;
}

.products_container .products .product_card .product_details .product_item_price s {
  font-size: 0.875rem;
  color: #666666;
}

.products_container .products .product_card .product_details .product_item_price p {
  color: #cf2829;
  margin: 0 0.6rem;
  font-size: 1.125rem;
}

.products_container .products .product_card:hover {
  border-color: #ef1e1e;
}

.products_container .products .product_card:hover .product_img img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.products_container .products .product_card:hover .product_img button {
  -webkit-transform: translate(-100%, 630%);
          transform: translate(-100%, 630%);
}

/*  Products Page Styling End */
/*  Blog Page Styling Start */
.blog_container .blog .blog_card {
  margin: 0 1rem;
  height: 400px;
  width: 100%;
}

.blog_container .blog .blog_card .read_more a {
  text-decoration: none;
  color: #253237;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.blog_container .blog .blog_card .read_more a:hover {
  margin-left: 0.5rem;
  color: #ef1e1e;
}

.blog_container .blog .blog_card .read_more i {
  color: #ef1e1e;
}

.blog_container .blog .blog_card:hover .blog_img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.blog_container .blog .blog_img {
  overflow: hidden;
  width: 100%;
  height: 70%;
}

.blog_container .blog .blog_img img {
  width: 100%;
  height: 100%;
}

.blog_container .blog .blog_details h3 {
  color: #253237;
  margin: 1rem 0;
}

.blog_container .blog .blog_details p {
  color: #666666;
  font-size: 0.875rem;
  margin: 1rem 0;
  text-align: justify;
}

/*  Blog Page Styling End */
/*# sourceMappingURL=App.css.map */