/* Banner Panal 1 Styling Start */
.banner_panal_1 {
  margin: 3rem 0;

  .banner {
    margin: 0 1rem;
    img {
      width: 100%;
    }
  }
}
/* Banner Panal 1 Styling End */

/* Banner Panal 2 Styling Start */
.banner_panal_2 img {
  width: 100%;
  height: 300px;
  margin: 5rem 0;
}
/* Banner Panal 2 Styling End */
