/* Banner Panal 1 Styling Start */
.banner_panal_1 {
  .banner {
    margin: 0 1rem;
    img {
      width: 100%;
    }
  }
}
/* Banner Panal 1 Styling End */

/* Banner Panal 2 Styling Start */
.banner_panal_2 {
  img {
    width: 100%;
    height: 300px;
  }
}

/* Banner Panal 2 Styling End */

/* Banner Panal 3 Styling Start */
.banner_panal_3 {
  .banner {
    margin: 0 1rem;
    img {
      width: 100%;
    }
  }
}
