/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// ---------------------------------------- Variables Start ----------------------------------------
$dark-red: #cf2829;
$light-red: #ef1e1e;
$dark-blue: #253237;
$dark-gray: #666666;

$light: #f6f5f5;
$pure: white;
$dark: black;
$light-border: rgb(231, 219, 219);

$transition: all 0.4s linear;

$text1: 1.5rem;
$text2: 1.125rem;
$text3: 0.875rem;
$text4: 0.75rem;
$text5: 0.5rem;

// ---------------------------------------- Variables End ----------------------------------------

// ---------------------------------------- Utility class Start ----------------------------------------
.active {
  color: $light-red !important;
  border-bottom: 3px solid $light-red !important;
}

.container {
  width: 100%;
  padding: 0 3.125rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

.titel {
  text-align: center;
  .t1 {
    font-size: $text1;
    color: $dark-blue;
    margin-bottom: 0.5rem;
  }
  .t3 {
    font-size: $text3;
    color: $dark-gray;
  }
  hr {
    width: 50px;
    margin: 2rem auto;
    border: 1px solid $light-red;
  }
}

.tag {
  font-size: $text4;
  color: $pure;
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  background-color: $dark-red;
  font-weight: bold;
}

// ---------------------------------------- Utility Class End ----------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

@import "./header";
@import "./navbar";
@import "./hero";
@import "./banner";
@import "./categorys";
@import "./arrivals";
@import "./services";
@import "./deal";
@import "./product";
@import "./blog";
